<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Extension_GiftCard" translate="label" sortOrder="10">
            <label>Extension Extensions</label>
        </tab>
        <section id="giftcard" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Gift Card</label>
            <tab>Extension_GiftCard</tab>
            <resource>Extension_GiftCard::giftcard_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>GiftCard Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Enable GiftCard</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowatcheckout" translate="label" type="select" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Allow used GiftCard at Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Cho phép customer sử dụng gift card trên trang checkout</comment>
                </field>
                <field id="allowredeem" translate="label" type="select" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Allow Redeem GiftCard</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Cho phép customer chuyển amount của GiftCard vào balance</comment>
                </field>
                <field id="codelength" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>GiftCard Code Length</label>
                    <comment>The length of the generated GiftCard code</comment>
                    <validate>required-entry validate-number validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
    </system>
</config>
