<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="controller_action_predispatch_checkout_cart_couponPost">
        <observer name="custom_giftcode_observer" instance="Extension\GiftCard\Observer\AfterGiftCodeApplied" />
    </event>

    <event name="sales_order_place_after">
        <observer name="mp_order_success" instance="Extension\GiftCard\Observer\AfterOrderSuccess" />
    </event>
</config>
