<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="lof_check_license">
		<observer name="check_license" instance="Lof\All\Observer\CheckLicense" />
	</event>
	<event name="admin_system_config_save">
		<observer name="save_license_key" instance="Lof\All\Observer\AdminSystemConfigSave"/>
	</event>
</config>